<footer class="border-t-2 border-dashed border-yellow-500 bg-yellow-500/[0.2]">
	<div class="flex items-center relative w-full overflow-hidden">
		<div class="w-full max-w-screen-lg p-12 m-auto">
			<div class="flex justify-center mb-4">
				{{ if isset .Site.Params "github" }}
					<a href="https://github.com/{{ .Site.Params.Github }}" class="w-14 h-14 p-4 text-yellow-700 transition hover:text-yellow-800" aria-label="github">{{ partial "svg/github.svg" }}</a>
				{{ end }}
				{{ if isset .Site.Params "email" }}
					<a href="{{ if .IsHome }}#contact-form{{ else }}#{{ end }}" class="w-14 h-14 p-4 text-yellow-700 transition hover:text-yellow-800" aria-label="email">{{ partial "svg/mail.svg" }}</a>
				{{ end }}
				{{ if isset .Site.Params "linkedin" }}
					<a href="https://linkedin.com/in/{{ .Site.Params.Linkedin }}" class="w-14 h-14 p-4 text-yellow-700 transition hover:text-yellow-800" aria-label="linkedin">{{ partial "svg/linkedin.svg" }}</a>
				{{ end }}
			</div>

			<div class="text-center">
				{{ replace .Site.Copyright "{year}" now.Year }}
			</div>
		</div>
	</div>
</footer>