<footer 
	@scroll.window="atFooter = (window.innerHeight + Math.round(window.scrollY)) >= document.body.offsetHeight - 100 ? false: false"
>
	<div class="flex items-center relative w-full overflow-hidden">
		<div class="w-full p-12 m-auto">
			<!-- <div class="flex justify-center gap-4">
				{{ if isset .Site.Params "github" }}
					<a href="https://github.com/{{ .Site.Params.Github }}" class="w-14 h-14 p-4 rounded-full hover:bg-green-700" aria-label="github">{{ partial "svg/github.svg" }}</a>
				{{ end }}
				{{ if isset .Site.Params "email" }}
					<a href="{{ if .IsHome }}#contact-form{{ else }}#{{ end }}" class="w-14 h-14 p-4 rounded-full hover:bg-green-700" aria-label="email">{{ partial "svg/mail.svg" }}</a>
				{{ end }}
				{{ if isset .Site.Params "linkedin" }}
					<a href="https://linkedin.com/in/{{ .Site.Params.Linkedin }}" class="w-14 h-14 p-4 rounded-full hover:bg-green-700" aria-label="linkedin">{{ partial "svg/linkedin.svg" }}</a>
				{{ end }}
			</div> -->

			<div class="text-center">
				{{ replace .Site.Copyright "{year}" now.Year }}
			</div>
		</div>
	</div>
	<div class="w-full flex">
		<div class="">
			{{ partial "svg/footer-side-left.svg" }}
		</div>
		<div class="w-full">
			{{ partial "svg/footer-main.svg" }}
		</div>
		<div class="transform -scale-x-100">
			{{ partial "svg/footer-side-left.svg" }}
		</div>
	</div>
</footer>