<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="{{ .Description | default .Site.Params.Description }}">
    <meta name="keywords" content="{{ .Keywords | default .Site.Params.Keywords }}">
    <meta name="author" content="{{ .Site.Params.Author }}">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{.Site.BaseURL }}img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.Site.BaseURL }}img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.Site.BaseURL }}img/favicon-16x16.png">
    <link rel="manifest" href="{{.Site.BaseURL }}img/manifest.json">
    <link rel="mask-icon" href="{{.Site.BaseURL }}safari-pinned-tab.svg" color="#FF3DB4">
    <meta name="theme-color" content="#ffffff">

    {{ $t1 := resources.Get "css/app.css" }}
    {{ $css := slice $t1 | resources.Concat "css/app.css" | minify }}

    <link href="{{ $css.RelPermalink }}" rel="stylesheet"></link>
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    <script src="js/github.js"></script>
</head>