<nav class="max-w-screen-2xl px-12 py-6 flex gap-12 m-auto">
    <div class="items-center flex gap-4">
        <a href="/">
            {{ .Site.Params.Logo }}
        </a>
    </div>
    <div class="hidden items-center justify-end gap-12 md:flex md:flex-1">
        {{ range .Site.Menus.unrealised }}
        <a
            href="{{ .URL }}" 
            class="text-base flex-initial font-medium"
        >{{ .Name }}</a>
        {{ end }}
    </div>

    
    <div x-data="{showMenu : false}" class="items-center justify-end gap-12 flex flex-1 md:hidden">
        <button class="w-6 h-6 focus:outline-none" aria-label="open menu button" @click="showMenu = !showMenu">
            {{ partial "svg/hamburg.svg" }}
        </button>
        <div x-show="showMenu" 
            class="absolute top-0 right-0 min-h-screen min-w-screen w-full bg-black/[0.2] flex justify-end" 
            @click.away="showMenu = false"
        >
            <div class="px-6 py-12  bg-white border-l-2 border-dashed border-yellow-500 max-w-full w-96 min-h-screen" @click.away="showMenu = false">
                <nav class="flex flex-col">
                    <a href="{{ .Site.BaseURL }}" class="px-2 py-4 flex justify-between w-full">
                        Home
                    </a>
                    {{ range .Site.Menus.unrealised }}
                        <a 
                            href="{{ .URL }}" 
                            class="px-2 py-4 flex justify-between w-full"
                            {{ if eq .Name "Contact" }}@click="showMenu = false"{{ end }}
                        >
                            {{ .Name }}
                        </a>
                    {{ end }}
                </nav>
                <button class="w-6 h-6 absolute top-6 right-6 focus:outline-none" @click="showMenu = !showMenu">
                    {{ partial "svg/xmark.svg" }}
                </button>
            </div>
        </div>
    </div>
</nav>