<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        {{ if .IsHome }}
            {{- block "main" . }}{{- end }}
        {{ else }}
        <div id="content" class="pt-14">
            {{- block "main" . }}{{- end }}
        </div>
        {{ end }}
        
        <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
        <script src="/js/fastsearch.js"></script>
        <script src="/js/main.js"></script>
    </body>
    
    {{- partial "footer.html" . -}}

    {{- partial "social.html" . -}}

</html>
