<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body class="min-h-screen">
        {{- partial "header.html" . -}}
        {{ if .IsHome }}
            {{- block "main" . }}{{- end }}
        {{ else }}
            <div id="content" class="pt-14 min-h-screen">
                {{- block "main" . }}{{- end }}
            </div>
        {{ end }}
        
        <script src="/js/fuse.js"></script> <!-- download and copy over fuse.js file from fusejs.io -->
        <script src="/js/fastsearch.js"></script>
    </body>
    {{ if not .IsHome }}
        {{- partial "footer.html" . -}}
    {{ end }}

</html>
