<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
    {{- partial "head.html" . -}}
    <body class="w-full">
        <div class="mt-8 py-3 text-center">
            {{- partial "cv/nav.html" -}}
        </div>
        <div id="cv-content" class="container mx-auto my-8 max-w-screen-xl">
            <main class="flex flex-col sm:flex-row-reverse shadow-2xl">
                <div id="sidebar" class="w-full sm:max-w-sm p-12 bg-green-50">
                    <div class="px-2 mb-8">
                        <h1 class="text-center text-3xl font-semibold mb">{{ with .Site.GetPage "cv/profile" }}{{ .Params.myName }}{{ end }}</h1>
                        <h2 class="text-center text-md font-light mb-1">{{ with .Site.GetPage "cv/profile" }}{{ .Params.position }}{{ end }}</h2>
                        <h3 class="text-center font-light text-sm">{{ with .Site.GetPage "cv/profile" }}{{ .Params.subPosition }}{{ end }}</h3>
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl">Contact</h2>
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/web.html" . -}}</span>
                            <a href="{{ .Site.Params.Website }}" class="hover:text-green-600">{{ with .Site.GetPage "cv/profile" }}{{ .Params.website }}{{ end }}</a>
                        </div>
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/email.html" . -}}</span>
                            <a href="mailto:{{ .Site.Params.Email }}" class="hover:text-green-600">{{ .Site.Params.Email }}</a>
                        </div>
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/house.html" . -}}</span>
                            {{ with .Site.GetPage "cv/profile" }}{{ .Params.location }}{{ end }}
                        </div>
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl">Connect</h2>
                        {{ if isset .Site.Params "github" }}
                            <div class="flex items-center my-3">
                                <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/github.html" . -}}</span>
                                <a href="{{ .Site.Params.Github }}" class="hover:text-green-600">{{ with .Site.GetPage "cv/profile" }}{{ .Params.github }}{{ end }}</a>
                            </div>
                        {{ end }}
                        {{ if isset .Site.Params "stackoverflow" }}
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/stackoverflow.html" . -}}</span>
                            <a href="{{ .Site.Params.Stackoverflow }}" class="hover:text-green-600">{{ .Site.Params.Stackoverflow }}</a>
                        </div>
                        {{ end }}
                        {{ if isset .Site.Params "linkedin" }}
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/linkedin.html" . -}}</span>
                            <a href="{{ .Site.Params.Linkedin }}" class="hover:text-green-600">{{ with .Site.GetPage "/cv/profile" }}{{ .Params.linkedin }}{{ end }}</a>
                        </div>
                        {{ end }}
                        {{ if isset .Site.Params "twitter" }}
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/twitter.html" . -}}</span>
                            <a href="{{ .Site.Params.Twitter }}" class="hover:text-green-600">{{ .Site.Params.Twitter }}</a>
                        </div>
                        {{ end }}
                        {{ if isset .Site.Params "codepen" }}
                        <div class="flex items-center my-3">
                            <span class="p-1 rounded-full mr-2 bg-green-300 text-green-600">{{- partial "svg/codepen.html" . -}}</span>
                            <a href="{{ .Site.Params.Codepen }}" class="hover:text-green-600">{{ .Site.Params.Codepen }}</a>
                        </div>
                        {{ end }}
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl">Education</h2>
                        {{ $educationList := where .RegularPages "Type" "in" "education" }}
                        {{ range sort $educationList "File.Filename" }}
                        <p class="mt-3">
                            <span class="font-semibold">{{ .Name }}</span> <span class="text-xs">[{{ .Params.attendDate }}]</span>
                            {{ .Content | replaceRE "<li>" "<li class=\"ml-4\">" | replaceRE "<ul>" "<ul class=\"list-disc\">" | safeHTML}}
                        </p>
                        {{ end }}
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl">Skills</h2>
                        {{$skillsList := where .RegularPages "Type" "in" "skills"}}
                        {{ range sort $skillsList "File.Filename" }}
                            <p class="my-3"><span class="font-semibold">{{ .Name }}:</span> {{ .RawContent }}</p>
                        {{ end }} 
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl">Interests</h2>
                        {{$interestsList := where .RegularPages "Type" "in" "interests"}}
                        {{ range sort $interestsList "File.Filename" }}
                            <p class="my-3"><span class="font-semibold">{{ .Name }}:</span> {{ .RawContent }}</p>
                        {{ end }} 
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl mb-4">Hobbies</h2>
                        <p class="my-3">{{ with .Site.GetPage "cv/profile" }}{{ .Params.hobbies }}{{ end }}</p>
                    </div>

                    <div class="font-light px-2 mb-8">
                        <h2 class="font-semibold text-xl mb-4">Languages</h2>
                        <p class="my-3">{{ with .Site.GetPage "cv/profile" }}{{ .Params.languages }}{{ end }}</p>
                    </div>
                </div>
                <div class="content w-full p-12">
                    <div id="profile">
                        <h2 class="section-headline border-l-8 border-green-300 mb-4 pl-4 text-xl font-semibold">Profile</h2>
                        {{ with .Site.GetPage "cv/profile" }}{{ .Content }}{{ end }}
                    </div>

                    <hr class="mt-6 mb-6 border-green-200" />

                    <h2 class="text-xl border-l-8 border-green-300 pl-4 mb-4 font-semibold">Experience</h2>
                    {{ $experience := where .RegularPages "Type" "in" "experience" }}
                    {{ range sort $experience "File.Filename" }}
                    <div class="mb-4">
                        <h3 class="font-semibold">{{ .Name }}</h3>
                        <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                            {{ .Params.attendDate }}
                        </div>
                        <div class="mb-2 lg:inline-block lg:w-8/12 w-full">
                            {{ .Params.position }}
                        </div>
                        {{ if isset .Params "achievements" }}
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                Achievements
                            </div>
                            <div class="lg:inline-block lg:w-8/12 w-full mb-4">
                                <ul class="list-disc">
                                    {{ range $achievement := .Params.achievements}}
                                        <li class="ml-4">{{ $achievement }}</li>
                                    {{ end }}
                                </ul>
                        </div>
                        {{ end }}
                        {{ if isset .Params "tasks" }}
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                Main tasks
                            </div>
                            <div class="lg:inline-block lg:w-8/12 w-full mb-4">
                                <ul class="list-disc">
                                    {{ range $task := .Params.tasks}}
                                        <li class="ml-4">{{ $task }}</li>
                                    {{ end }}
                                </ul>
                        </div>
                        {{ end }}
                        {{ if isset .Params "tools" }}
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                Main tools
                            </div>
                            <div class="text-sm mb-2 leading-6 align-middle lg:inline-block lg:w-8/12 w-full">
                                {{ range $tool := .Params.tools}}
                                    <span class="rounded-xl bg-green-300 text-green-700 px-3 whitespace-nowrap">{{ $tool }}</span>
                                {{ end }}
                            </div>
                        {{ end }}
                        {{ if isset .Params "services" }}
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                Services
                            </div>
                            <div class="text-sm mb-2 leading-6 align-middle lg:inline-block lg:w-8/12 w-full">
                                {{ range $service := .Params.services}}
                                    <span class="rounded-xl bg-green-300 text-green-700 px-3 whitespace-nowrap">{{ $service }}</span>
                                {{ end }}
                            </div>
                        {{ end }}
                    </div>
                    {{ end }}
                    <hr class="mt-6 mb-6 border-green-200" />
                    <h2 class="section-headline text-xl border-l-8 border-green-300 pl-4 mb-4 font-semibold">Projects</h2>
                    {{ $projectsList := where .RegularPages "Type" "in" "projectShowcase" }}
                    {{ range sort $projectsList "File.Filename" }}
                        <div class="mb-4">
                            <h3 class="font-semibold">
                                {{ if isset .Params "link" }}
                                    <a href="{{ .Params.link }}" class="hover:text-green-600">{{ .Name }}</a>
                                {{ else }}
                                    {{ .Name }}
                                {{ end }}
                            </h3>
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                {{ .Params.tagline }}
                            </div>
                            <div class="lg:inline-block mb-2 lg:w-8/12 w-full">
                                {{ .Params.description }}
                            </div>
                            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
                                Main tools
                            </div>
                            <div class="text-sm mb-2 leading-6 align-middle mb-2 lg:inline-block lg:w-8/12 w-full">
                                {{ .Content | replaceRE "<ul>" "" | replaceRE "</ul>" "" | replaceRE "<li>" "<span class=\"rounded-xl whitespace-nowrap bg-green-300 text-green-700 px-3\">" | replaceRE "</li>" "</span>" | safeHTML}}
                            </div>
                        </div>
                    {{ end }}
                </div>
            </main>
        </div>
        <div class="my-8 py-3 text-center">
            {{- partial "cv/nav.html" -}}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/pdfmake.min.js" integrity="sha512-q+jWnBtVH327w/3nlp2Th9Dtjmlfj3Mb4tXCGbYjYWUqtFyIhl1Ul8GXoMkzbWvdIRVlS0P1pyteYUzxArKYOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.71/vfs_fonts.min.js" integrity="sha512-BDZ+kFMtxV2ljEa7OWUu0wuay/PAsJ2yeRsBegaSgdUhqIno33xmD9v3m+a2M3Bdn5xbtJtsJ9sSULmNBjCgYw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            var canvasElement = document.getElementById("canvas");

            function printPdf(action) {
                var docDefinition = {
                    pageSize: 'A4',
                    background: [
                        {
                            image: 'backgroundImg',
                            width: 600
                        }
                    ],
                    content: [
                        {
                            style: 'section',
                            table: {
                                widths: [ '71%', '29%'],
                                body: [
                                    [ 
                                        {
                                            table: {
                                                widths: ['100%'],
                                                heights: [20, 20, 20, 20, 20, 30],
                                                body: [
                                                    [{}],
                                                    [
                                                        {
                                                            columns: [
                                                                {
                                                                    image: 'headingBorder',
                                                                    width: 4
                                                                },
                                                                {
                                                                    width: '*',
                                                                    text: 'Profile',
                                                                    margin: [ 8, 1.5 ]
                                                                },
                                                            ],
                                                            margin: [ 20, 0 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: '{{ with .Site.GetPage "cv/profile" }}{{ .RawContent }}{{ end }}',
                                                            fontSize: 9,
                                                            margin: [20, -10, 20, 0],
                                                            lineHeight: 1.4,
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            canvas: [
                                                                {
                                                                    type: 'line',
                                                                    x1: 20,
                                                                    y1: 5,
                                                                    x2: 406,
                                                                    y2: 5,
                                                                    lineWidth: 0.5,
                                                                    lineColor: '#D9F99D',
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            columns: [
                                                                {
                                                                    image: 'headingBorder',
                                                                    width: 4
                                                                },
                                                                {
                                                                    width: '*',
                                                                    text: 'Experience',
                                                                    margin: [ 8, 1.5 ]
                                                                },
                                                            ],
                                                            margin: [20, -5, 20, 0],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            
                                                        }
                                                    ]
                                                ]
                                            },
                                            layout: 'noBorders'
                                        },
                                        {
                                            table: {
                                                widths: ['100%'],
                                                heights: [15, 25, 7, 15, 25, 7, 15, 25, 10, 15, 25, 10, 15, 25, 10, 15, 25, 10, 15, 25, 20, 15, '*'],
                                                body: [
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.myName }}{{ end }}', fontSize:20, alignment: 'center'},
                                                                {text: '\n{{ with .Site.GetPage "cv/profile" }}{{ .Params.position }}{{ end }}\n'},
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.subPosition }}{{ end }}', margin:[ 0, 5, 0, 0], fontSize: 7},
                                                            ],
                                                            fontSize: 9,
                                                            alignment: 'center',
                                                        }
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Contact\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.website }}{{ end }}\n', link: '{{ .Site.Params.Website }}', fontSize:8},
                                                                {text: '{{ .Site.Params.Email }}\n', fontSize:8},
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.location }}{{ end }}\n', fontSize:8},
                                                            ],
                                                            lineHeight: 2.3,
                                                            margin: [ 42, -3, 0, -3 ],
                                                        }
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Connect\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.github }}{{ end }}\n', link: '{{ .Site.Params.Github }}', fontSize:8},
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.linkedin }}{{ end }}', link: '{{ .Site.Params.Linkedin }}', fontSize:8},
                                                            ],
                                                            lineHeight: 2.3,
                                                            margin: [ 42, -3, 0, -3 ],
                                                        }
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Education\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {{ range sort $educationList "File.Filename" }}
                                                                    {text: '{{ .Name }} ', fontSize:8, bold:true},
                                                                    {text: '[{{ .Params.attendDate }}]', fontSize:8},
                                                                    {text: '{{ .Content | replaceRE "<li>" "- " | replaceRE "</li>" "" | replaceRE "<ul>" "" | replaceRE "</ul>" "" | safeHTML}}', fontSize:8},
                                                                {{ end }} 
                                                            ],
                                                            lineHeight: 1.2,
                                                            margin: [ 23, -3, 21, -3 ],
                                                        },
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Skills\n', fontSize:10},
                                                            ],
                                                            margin: [ 21, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {{ range sort $skillsList "File.Filename" }}
                                                                    {text: '{{ .Name }}: ', fontSize:8, bold:true},
                                                                    {text: '{{ .RawContent }}\n\n', fontSize:8},
                                                                {{ end }} 
                                                            ],
                                                            lineHeight: 1.2,
                                                            margin: [ 23, -3, 21, -3 ],
                                                        },
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Interests\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {{ range sort $interestsList "File.Filename" }}
                                                                    {text: '{{ .Name }}: ', fontSize:8, bold:true},
                                                                    {text: '{{ .RawContent }}\n\n', fontSize:8},
                                                                {{ end }} 
                                                            ],
                                                            lineHeight: 1.2,
                                                            margin: [ 23, -3, 21, -3 ],
                                                        },
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Hobbies\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.hobbies }}{{ end }}', fontSize:8},
                                                            ],
                                                            lineHeight: 1.2,
                                                            margin: [ 23, -3, 21, -3 ],
                                                        },
                                                    ],
                                                    [{}],
                                                    [
                                                        {
                                                            text: [
                                                                {text: 'Languages\n', fontSize:10},
                                                            ],
                                                            margin: [ 23, -3 ],
                                                        }
                                                    ],
                                                    [
                                                        {
                                                            text: [
                                                                {text: '{{ with .Site.GetPage "cv/profile" }}{{ .Params.languages }}{{ end }}', fontSize:8},
                                                            ],
                                                            lineHeight: 1.2,
                                                            margin: [ 23, -3, 21, -3 ],
                                                        },
                                                    ],
                                                ],
                                            },
                                            // fillColor: '#F7FEE7',
                                            color: '#000000',
                                            layout: 'noBorders'
                                        },
                                    ]
                                ]
                            },
                            layout: 'noBorders'
                        },
                    ],
                    pageMargins: [ 0,0,0,0 ],
                    images: {
                        backgroundImg: '{{ .Site.BaseURL }}/img/pdf-bg.png',
                        headingBorder: '{{ .Site.BaseURL }}/img/border.png'
                    }
                };
    
                if (action === 1) {
                    pdfMake.createPdf(docDefinition).print({}, window);
                }
                else if (action === 2) {
                    var pdf = createPdf(docDefinition);
                    pdf.download('PPRA.pdf');
                }
            }
        </script>
      </body>
</html>