{{ define "main" }}
    <article class="dspecial">
        <div class="max-40-width-wrapper m-auto">
            <h1>{{ .Title }}</h1>
            <p>{{ .Params.comments | markdownify }}</p>
            <ul>
                {{ range .Pages }}
                    <li>
                        <h2 class="left"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p>
                            {{ .Params.description }}
                        </p>
                    </li>
                {{ end }}
            </ul>
        </div>
    </article>
{{ end }}