{{ define "main" }}
{{- partial "header.html" . -}}
<div id="content" class="px-8 md:px-20">
<div class = "article-content">
    <div class="description">
        I'm kinda lazy, but even I admire the power of projects. Here're mine.
    </div>

    <div>
        Creative Work: A poem about what math means to me that I wrote for class. It's coded a bit to display a bit like a powerpoint, but hopefully it's a bit more fun.
    </div>

    <div>
        Screw Accounting: A self-initiated project to lessen my hours in data-entry for the accounts team at my job. I hate that part of my job.
    </div>
    
</div>
</div>
{{- partial "footer.html" . -}}
{{ end }}
