{{ define "main" }}
<div class="article-content w-full m-auto md:w-7/12">
    <article class="m-5 p-8 bg-gray-50 rounded-3xl">
    <h1 class="post-title text-2xl font-bold text-green-900">{{ .Title }}</h1>
    <div class="content pb-5 clear">
        <p>
        {{ .Content | replaceRE "<p>" "<p class=\"pt-5\">" | replaceRE "<ol>" "<ol class=\"list-decimal pl-8 pt-0\">" | replaceRE "<h2" "<h2 class=\"text-xl font-bold pt-5\"" | replaceRE "<ul>" "<ul class=\"list-disc pl-8 pt-0\">" | safeHTML }}
        </p>
    </div>
    {{ if .Date }}
    <time class="text-green-600">{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    {{ template "_internal/disqus.html" . }}

    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>
</article>
</div>
{{end}}