{{ $hash := delimit (shuffle (split (md5 "axis") "" )) "" }}
<div class="contact-form-wrapper">
  <form name="contact-form" method="POST" netlify-honeypot="a_{{ $hash }}" 
    data-netlify="true"
  >
    <div class="margin-bottom">
      <label for="name">Name<span>*</span></label>
      <input class="full-width" type="text" name="name" id="name" value="" tabindex="1" />
    </div>
    <div class="margin-bottom">
      <label for="email">Email<span>*</span></label>
      <input class="full-width" type="email" name="email" id="email" value="" tabindex="2" />
    </div>
    <div class="hidden">
      <label>Don’t fill this out if you’re human:</label> <input name="a_{{ $hash }}" />
    </div>
    <div class="margin-bottom">
      <label for="message">Message<span>*</span></label>
      <textarea cols="40" rows="8" name="message" id="message" class="full-width" tabindex="3"></textarea>
    </div>
    <div class="margin-bottom relative-wrapper">
      <button type="submit" class="full-width">
        Submit
        <div class="questions-image">{{ partial "svg/questions_image.svg"}}</div>
      </button>
    </div>
  </form>
</div>