<footer class="footer copyright text-center py-10 bg-green-50 border-t-2 border-dashed border-green-500">
	<div class="z-20 -mt-24">
		<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14.121 14.121L19 19m-7-7l7-7m-7 7l-2.879 2.879M12 12L9.121 9.121m0 5.758a3 3 0 10-4.243 4.243 3 3 0 004.243-4.243zm0-5.758a3 3 0 10-4.243-4.243 3 3 0 004.243 4.243z" />
		</svg>
	</div>

	<p class="px-24 leading-8 md:p-0">
		<a href="/about" class="px-5 pb-5 text-green-900 hover:text-green-600">About</a>
		<a href="/blog" class="px-5 pb-5 text-green-900 hover:text-green-600">Blog</a>
		<a href="/projects" class="px-5 pb-5 text-green-900 hover:text-green-600">Projects</a>
		<a href="/cv" class="px-5 pb-5 text-green-900 hover:text-green-600">CV</a>
		<a href="/contact" class="px-5 pb-5 text-green-900 hover:text-green-600">Contact</a>
		<br/><a href="/sheppa-games" class="px-5 pb-5 text-green-900 hover:text-green-600">Sheppa Games</a>
	</p><br />
	<p class="text-sm text-black text-opacity-80">{{ replace .Site.Copyright "{year}" now.Year }}</p>
</footer>