<head>
    <link rel="preload" href="//fonts.googleapis.com">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="Aileen Huang's online dump of coding projects from web to game and other musings.">
    <meta name="keywords" content="aileen huang, portfolio, coding, programmer, engineer, game">
    <meta name="author" content="Aileen Huang">

    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ "img/apple-touch-icon.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ "img/favicon-32x32.png" | relURL }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ "img/favicon-16x16.png" | relURL }}">
    <link rel="manifest" href="{{ "img/manifest.json" | relURL }}">
    <link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}" color="#FF3DB4">
    <meta name="theme-color" content="#ffffff">

    <!-- Styles -->
    <link href="/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&amp;display=swap">
    <style>
        html{font-family: 'Nunito', sans-serif;}
    </style>
    {{ if .IsHome }}
    <link href="https://fonts.googleapis.com/css2?family=Bitter&display=swap" rel="stylesheet"> 
    <style>
        #home-img {
            background-image: url("img/bg.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bitter {
            font-family: 'Bitter', serif;
        }
    </style>
    {{ end }}
</head>
