<nav>
    {{ partial "header.html" . }}
    <div class="nav-menu">
    {{ range .Site.Menus.main }}
      <a class="color-link nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
    {{ end }}
    <p><a href="/blog/" rel="noopener">Blog</a></p>
    <p><a href="/projects/" rel="noopener">Projects</a></p>
    <p><a href="/p/contact/" rel="noopener">Contact</a></p>
  </div>
  {{ partial "footer.html" . }}
  
  {{ $script := resources.Get "js/main.js" | minify | fingerprint -}}
  <script defer src="{{ $script.Permalink }}" {{ printf "integrity=%q" $script.Data.Integrity | safeHTMLAttr }} crossorigin="anonymous"></script>
</nav>
  