<div class="z-20 grid grid-cols-11">
    <div class="bg-white mx-auto block col-start-2 col-span-3 -mt-24">
        <img src="https://via.placeholder.com/150" alt="" class="w-full h-48 sm:h-56 object-cover" />

        <div class="px-10 py-6 mb-10 text-center">
        <div class="text-2xl font-bold text-green-600 mb-4">MALAY</div>
        <span class="text-sm">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate tempore eligendi magnam distinctio molestias. Incidunt at consequuntur consequatur 
            officiis repudiandae! Culpa cum vel tenetur itaque eius provident voluptatum similique impedit?
        </span>
        </div>

        <button class="w-full text-lg h-16 text-white font-extrabold bg-green-600">VIEW RECIPES</button>
    </div>
</div>