<div class="z-20 grid grid-cols-1 p-12 md:grid-cols-12 md:p-0">
    <div class="bg-white mx-auto block -mt-24 rounded w-full md:col-start-2 md:col-span-10">
        <div class="px-10 py-6 text-center">
            <div class="text-2xl font-bold text-green-600 mb-4">SKILL TREE</div>
            <div class="text-sm my-8 text-left grid grid-cols-5 whitespace-pre-line" id="skill-tree">
                <div>Web Dev
                    Game Dev
                </div>
                <div class="hidden">
                    Backend
                    Frontend
                </div>
                <div class="hidden">
                    SSG
                    DB
                    Dynamic/APIs
                </div>
                <div class="hidden">
                    Laravel
                    Wordpress
                </div>
                <div class="hidden">
                    Explanations
                </div>
            </div>
        </div>
        <p class="w-full text-lg h-16 text-white rounded-b font-extrabold bg-green-500" id="stack-explanation"></p>
    </div>
</div>