{{ define "main" }}
    <div id="home-img" class="grid grid-cols-1 grid-rows-1 items-center md:grid-rows-2 min-h-screen text-white">
        <div class="hidden md:block"></div>
        <div class="text-center">
            <h1 class="bitter text-8xl p-5">Aileen Huang</h1>
            <h2 class="bitter text-lg p-5">MAKING STUFF NOBODY <br class="block md:hidden"/>ASKED FOR </h2>
        </div>
    </div>
    <div class="p-10 text-center m-5 md:m-20">
        <h2 class="text-2xl font-bold pb-5">Coding is fun except when it sucks. That's probably me.</h2>
        <p class="pb-5">Hey there, I'm Aileen. My job titles don’t include being a web or game developer, but I do a lot of coding for work and in my spare time.</p>
        <p class="pb-5">It does some pretty cool things (automate the boring stuff!), makes shiny new toys (fun and games!) until...
            Y U NO WORKING (INTERNAL SCREAM). Ahem, there must be a bug somewhere and I'm not a fan of bugs.</p>
        <p class="pb-5">Here's a <span class="line-through">dump</span> site of the things I build for others (work?) and for myself (fun??).</p>
        <p class="pb-5">You can read more about me <a href="/about" class="text-green-900 hover:text-green-600">here</a>.</p>
    </div>
    <div class="p-10 text-center m-5 md:m-20">
        <h2 class="text-2xl font-bold pb-5">The exciting stuff. Projects.</h2>
        <p class="pb-5">I brought these into the world after wrestling with the bugs. Clients claimed they were satisfied.</p>
    </div>
    <div class="p-10 text-center m-5 md:m-20">
        <h2 class="text-2xl font-bold pb-5">Skills. The power behind my projects.</h2>
        <p class="pb-5">I stacked my skill points on PHP and Python, but my skill tree is open.</p>
    </div>
    <div class="p-10 text-center m-5 md:m-20">
        <h2 class="text-2xl font-bold pb-5">Experience. Level up stuff.</h2>
        <p class="pb-5">Not really that interesting. Check my generic CV for more info.</p>
    </div>
    <div class="p-10 text-center m-5 md:m-20">
        <h2 class="text-2xl font-bold pb-5">Seen enough? Contact me.</h2>
        <p class="pb-5">I plan to insert a form here in the future, but not now.</p>
    </div>


    <!-- <script>
        function handleWheel(e){
            if (event.deltaY > 0){ // only when scrolling down
                document.removeEventListener("wheel", handleWheel);
                window.location.href = '/blog'; // redirect to url
                setTimeout(()=>{
                document.addEventListener("wheel", handleWheel);
                },4000); // return event after 4 seconds
            }
        }
        document.addEventListener("wheel", handleWheel);
    </script> -->
{{ end }}