{{ define "main" }}
    <div id="home-img" class="grid grid-cols-1 grid-rows-1 items-center md:grid-rows-2 min-h-screen text-white">
        <div class="text-center md:row-start-2">
            <h1 class="bitter text-8xl p-5">Aileen Huang</h1>
            <h2 class="bitter text-lg p-5">MAKING STUFF NOBODY <br class="block md:hidden"/>ASKED FOR </h2>
        </div>
    </div>
    <div class="p-12 text-center border-b border-green-200 md:p-24">
        <h2 class="text-2xl font-bold pb-5">Coding is fun except when it sucks. That's probably me.</h2>
        <p class="pb-5">Hey there, I'm Aileen. My job titles don’t include being a web or game developer, but I do a lot of coding for work and in my spare time.</p>
        <p class="pb-5">Coding is awesome when doing cool things (automate the boring stuff!), makes the shiniest new toys (fun and games!) until...
            Y U NO WORKING (INTERNAL SCREAM)!! Ahem, there must be a bug somewhere and I'm not a fan of bugs.</p>
        <p class="pb-5">Here's a <span class="line-through">dump</span> site of the things I build for others (work?) and for myself (fun??).</p>
        <p class="pb-5">You can read more about me <a href="/about" class="text-green-600 hover:text-green-900">here</a>.</p>
    </div>
    <div class="m-12 text-center md:m-24">
        <h2 class="text-2xl font-bold pb-5">The shiny stuff. Projects.</h2>
        <p class="pb-5">I brought these into the world after wrestling with the bugs. Clients claimed they were satisfied.</p>
    </div>
    <div class="p-24 text-center bg-green-500 bg-opacity-50 z-0">
        <h2 class="text-2xl font-bold pb-5">Skills. The project powa!</h2>
        <p class="pb-5">My skill points are a bit stacked on PHP and Python, but I'm kinda open to anything.</p>
        <br />
    </div>
    {{- partial "skills.html" . -}}
    
    <div class="p-12 text-center border-b border-green-200 md:p-24">
        <h2 class="text-2xl font-bold pb-5">Experience. Levelling up is the grind.</h2>
        <p class="pb-5">Not really that interesting. Check my generic CV for more info.</p>
    </div>
    
    {{- partial "contact.html" . -}}

{{ end }}