<section class="flex items-center overflow-hidden relative w-full">
    <div class="w-full max-w-screen-lg p-12 m-auto md:p-24">
        <div class="flex gap-4 md:gap-12 flex-col md:flex-row">
            {{ partial "components/h2sideways.html" (dict "heading" .Params.about_me_heading) }}
            <div class="col-span- m-auto md:col-span-3">
                {{ $length := .Params.about_me | len }}
                {{ $counter := 0 }}
                {{ range .Params.about_me }}
                    {{ $counter = add $counter 1 }}
                    <p{{ if ne $counter $length }} class="mb-4"{{ end }}>{{ . }}</p>
                {{ end }}
            </div>
        </div>
    </div>
</section>