<section class="flex items-center overflow-hidden relative w-full">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 w-full max-w-screen-2xl m-auto p-12">
        {{ partial "components/aside.html" (dict "Stats" .Params.about_me_profile  "class" "order-2 md:order-1" )}}
        <div class="col-span-1 lg:col-span-3 flex gap-4 md:gap-12 flex-col md:flex-row
            order-1 md:order-2 md:py-12"
        >
            <div class="h-fit m-auto">
                <h2 class="text-3xl mb-4 md:text-4xl">{{ .Params.about_me_heading }}</h2>
                {{ range .Params.about_me }}
                    <p>{{ . }}</p>
                {{ end }}
                <div class="mt-6">
                    <a href="{{ .Params.cv_button_url }}" class="button secondary-button max-w-[200px]">{{ .Params.cv_button }}</a>
                </div>
            </div>
        </div>
    </div>
</section>