{{ $hash := delimit (shuffle (split (md5 "axis") "" )) "" }}

<section class="flex items-center relative w-full" id="contact-form">
  <div class="w-full max-w-screen-lg p-12 m-auto md:p-24 md:pr-16">
      <div class="pb-4 overflow-x-hidden">
        <h2 class="md:mb-8 text-center">{{ .Site.contact_form_heading }}</h2>
          <div class="col-span-full m-auto md:col-span-2 md:pr-8">
            <p class="text-center md:text-left">{{ .Site.contact_form_description }}</p>
            <form name="contact-form" method="POST" netlify-honeypot="a_{{ $hash }}" 
              data-netlify="true"
            >
              <div class="my-4 gap-8 flex flex-col md:flex-row">
                <input 
                  type="text" 
                  name="name" 
                  id="name" 
                  placeholder="Name*"
                  required
                />
                <input 
                  type="text" 
                  name="email" 
                  id="email" 
                  placeholder="Email*"
                  required
                />
              </div>
              <div class="hidden">
                <input name="a_{{ $hash }}" id="important-details" />
              </div>
              <div class="mt-4">
                <textarea cols="40" rows="4" name="message" id="message" value="" placeholder="Message*" required></textarea>
              </div>
              <div class="mt-4 flex justify-end">
                <button class="button primary-button max-w-[200px] justify-center flex gap-4">
                  <div class="my-auto">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                  </div>
                  <span>Submit</span>
                </button>
              </div>
            </form>
          </div>
      </div>
  </div>
</section>