{{ $hash := delimit (shuffle (split (md5 "axis") "" )) "" }}

<section class="flex items-center relative w-full">
  <div class="w-full max-w-screen-lg p-12 m-auto md:p-24 md:pr-16">
      <div class="flex pb-4 overflow-x-hidden gap-4 md:gap-12 flex-col md:flex-row">
        {{ partial "components/h2sideways.html" (dict "heading" .Params.contact_form_heading) }}
          <div class="col-span-full m-auto md:col-span-2 md:pr-8">
            <p class="text-center md:text-left">{{ .Params.contact_form_description }}</p>
            <form name="contact-form" method="POST" netlify-honeypot="a_{{ $hash }}" 
              data-netlify="true"
            >
              <div class="my-4 gap-4 flex flex-col md:flex-row">
                {{ partial "components/inputtext.html" (dict "id" "name" "label" "Name" "required" true) }}
                {{ partial "components/inputtext.html" (dict "id" "email" "label" "Email" "type" "email" "required" true) }}
              </div>
              <div class="hidden">
                <label>Don't fill this out if you're human:</label> <input name="a_{{ $hash }}" />
              </div>
              <div class="mt-4">
                {{ partial "components/inputtextarea.html" (dict "id" "message" "label" "Message" "required" true) }}
              </div>
              <div class="my-2 relative">
                <button type="submit" class="w-full text-left">
                  Submit
                </button>
                <div class="absolute w-full pointer-events-none text-green-600 -top-10 -ml-8">
                  {{ partial "svg/form-line.svg" }}
                </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</section>