<section class="flex items-center overflow-hidden relative w-full">
    <div class="w-full max-w-screen-2xl m-auto p-12">
        <div class="flex flex-wrap gap-x-8 gap-y-4 mb-8 justify-center md:justify-between flex-col md:flex-row">
            <div class="flex items-end justify-center md:justify-start">
                <h2 class="text-3xl md:text-4xl">Latest Articles</h2>
            </div>
            <div>
                <a href="/blog" class="button secondary-button min-w-[200px] m-auto block">View all articles</a>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            {{ range first 2 (where (sort site.RegularPages "Date" "desc") "Type" "in" "blog") }}
                <a href="{{ .Permalink }}" class="group">
                    <div class="card group-hover:bg-yellow-500/[0.2]">
                        <h3>{{ .Title }}</h3>
                        <p class="text-yellow-800 mb-2">{{ .Date.Format "January 2006" }}</p>
                        {{ .Summary }} 
                        <div class="flex flex-wrap gap-4 mt-8">
                            {{ range $i := .Params.tags }}
                                {{ partial "components/tag.html" (dict "text" ($i | title))}}
                            {{ end }}
                        </div>
                    </div>
                </a>
            {{ end }}
        </div>
    </div>
</section>