<section class="flex items-center overflow-hidden relative w-full">
    <div class="w-full max-w-screen-2xl p-12 m-auto">
        <div class="text-center">
            <h2 class="text-3xl mb-4 md:text-4xl">Project Showcase</h2>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 w-full mt-6 md:mt-12">
            {{ $projects := (where (sort site.RegularPages "Date" "desc") "Type" "in" "projects") }}
            {{ range first 3 ($projects.ByParam "showcase") }}
            <a href="{{ .Permalink }}" class="relative group">
                <div class="card group-hover:bg-yellow-500/[0.2]">
                    <h3 class="left mb-4 text-green-700 font-semibold">
                        {{ .Title }}
                    </h3>
                    <p class="pb-4 mb-4 md:mb-8">{{ .Params.description }}</p>
                    <div class="md:absolute bottom-0 left-0 md:p-8 flex flex-wrap gap-4">
                        {{ range $i := .Params.project_type }}
                            {{ partial "components/tag.html" (dict "text" ($i | title))}}
                        {{ end }}
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
        <div class="mt-6 md:mt-12">
            <a href="/projects" class="button primary-button max-w-[200px] m-auto block">View all projects</a>
        </div>
    </div>
</section>