<section class="flex items-center overflow-hidden relative w-full">
    <div class="w-full max-w-screen-2xl p-12 m-auto">
        <div class="text-center">
            <h2 class="text-3xl mb-4 md:text-4xl">Project Showcase</h2>
        </div>
        <div class="grid grid-cols-3 gap-8 w-full mt-6 md:mt-12">
            <div class="border-2 border-green-600">
                <div class="h-64 overflow-hidden object-cover object-top hover:brightness-50">
                    <img src="placeholder/hikurangi.png" />
                </div>
            </div>
            <div class="border-2 border-green-600">
                <div class="h-64 overflow-hidden object-cover object-top hover:brightness-50">
                    <img src="placeholder/hikurangi.png" />
                </div>
            </div>
            <div class="border-2 border-green-600">
                <div class="h-64 overflow-hidden object-cover object-top hover:brightness-50">
                    <img src="placeholder/hikurangi.png" />
                </div>
            </div>
        </div>
        <div class="mt-6 md:mt-12">
            {{ partial "components/buttonlinkdark.html" (dict "url" "projects" "text" "View all projects" "class" "max-w-[200px] m-auto block")}}
        </div>
    </div>
</section>